@{
    ViewBag.Title = "Contact";
}
@model List<Homework5.Models.Borrows>
<hr />
<table class="table">
    <tr>
        <th><b>#</b></th>
        <th><b>Taken Date</b></th>
        <th><b>Bought Date</b></th>
        <th><b>Borrowed By</b></th>
    </tr>

</table>

